

<%= form_for @user do |f| %>
<h2>New User Sign Up</h2>
</br>
<%= render 'shared/errors', obj: @user %>

<%= render('shared/form_text_field', form: f, label: :username, name: :username, type: "text") %>
<%= render('shared/form_text_field', form: f, label: :email, name: :email, type: "text") %>
<%= render('shared/form_text_field', form: f, label: :password, name: :password, type: "password") %>
<%= render('shared/form_text_field', form: f, label: "Confirm Password", name: :password_confirmation, type: "password") %>


<div class = "row">
  <div class = "col-lg-1 col-lg-offset-3">
    <%= f.submit 'Submit', class: "btn btn-default" %>
  </div>
</div>


<% end %>
