
<%= render 'shared/errors', obj: @user %>
<%= form_for @user do |f| %>
<h2>New User Sign Up</h2>
</br>


<%= render('shared/form_text_field', form: f, label: :username, name: :username, type: "text") %>

<div class="row">
  <div class="col-xs-12">
    <%= f.label :email, "Email (Must be a valid email address)" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= f.text_field :email %>
  </div>
</div>

<%= render('shared/form_text_field', form: f, label: :password, name: :password, type: "password") %>
<%= render('shared/form_text_field', form: f, label: "Confirm Password", name: :password_confirmation, type: "password") %>

</br>

<div class = "row">
  <div class = "col-lg-1">
    <%= f.submit 'Submit', class: "btn btn-default" %>
  </div>
</div>


<% end %>
