<%= form_for [ @bootcamp, @bootcamp.new_review ], html: {id: "review_form"} do |f| %>
<% colclass = "10" %>

<div class="container-fluid">
  <div class="container review">
    
   <div class="row" id="review-header">
      <div class="col-xs-1">
        <button type="button" class="btn btn-default btn-primary btn-md pull-left" id="form-toggle">
          <i class="fa fa-pencil fa-2x" id="icon"></i>
        </button>
      </div>
      <div class="col-xs-10">
      <h3>Write a review for <%= @bootcamp.name %></h3>
      </div>
      
      <div class="col-xs-1"> 
      
      </div>   
   </div>

    <div id="review-panel" class="minimized">
    <!-- ****************Rating****************** -->
        <div class="row">
          <div class="col-md-2"><%= f.label :rating %></div>
          <div class="col-md-2"><%= f.select :rating, options_for_select(1..5), {}, class: "form-control" %> </div>  
         
        </div>

        <div class = "row">
          <div class = "col-md-5"><em>(Rating of 5 being the highest)</5></div>
        </div>
        
        <br/>

    <!-- *************Overall****************** -->
        <div class="row">
          <div class="col-md-2"> <%= f.label "Review" %></div>
          <div class="col-md-10"> <%= f.text_area :overall, class: "form-control", id: "overall" %></div>  
        </div>
        <div class="row wordcount">
           <div class = "col-lg-2 col-lg-offset-4" id = "overall-wordcount">Word Count:</div>
           <div class = "col-md-4" id = "overall-wordcount">Minimum words: 500</div>
           <div class = "col-md-2" id = "overall-error"></div>
        </div>

        <div class = "row">
          <div class = "col-md-10 col-md-offset-2">
            <%= f.submit "Create Review", class: "btn btn-default" %>
          </div>
        </div>
      </div> <!--end of review-panel -->
  </div> <!-- end of container review -->
</div> <!-- end of container fluid -->

<% end %>

<script>

var panel = $('#review-panel');
var icon = $('#icon');
var animation = "blind";
var animationOptions;
var animationTime = 500;
var buttonBaseClass = "fa ";
var plusClass = "fa-pencil";
var minusClass = "fa-minus-square";


$('#form-toggle').click(function() {
  panel.toggle(animation, animationOptions, animationTime, function() {
    icon.toggleClass(plusClass).toggleClass(minusClass);
  });
});

</script>