<div class="container-fluid review-display">
  <div class = "row">
      <div class = "col-md-6">
        <strong>User: </strong><%= review.username %> <i class="fa fa-user"></i>
      </div>
      <div class = "col-md-6">
        <strong>Rating: </strong><%= review.rating %>/5 <i class="fa fa-star"></i>
      </div>
    </div><!--end of row -->

  </br>

    <div class = "row">
        <div class = "col-md-12">
          <strong>Background</strong>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <%= review.background %>
        </div>
      </div>

    </br>

      <div class = "row">
        <div class = "col-md-12">
          <strong>Quality of Instruction</strong>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <%= review.instruction %>
        </div>
      </div>

    </br>

    <div class = "row">
        <div class = "col-md-12">
          <strong>Overall</strong>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12">
           <%= review.overall %>
        </div>
      </div>

</div>

<% review.replies.each do |reply| %>
<%= reply.response %>
<%= reply.user.username %>
<% end %>

<%= @bootcamp.decorate.display_reply_form?(review) %>



